body {
    background-color: white;
    margin: 0px;
}

#catIcon {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: 10%;
    position: relative;
    left: 5px;
}

#catProfile {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: 10%;
    position: relative;
    right: 5px;
    order: 3;
}

.bar {
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.webname {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
}

.name {
    font-size: 60px;
    margin: auto;
}

.searchbararea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar {
    position: relative;
    background-color: rgb(212, 209, 209);
    top: 150px;
    width: 50%;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    outline: none;
    border: 2px solid black;
}

input[type=text] {
    padding-left: 20px;
}

#enter {
    width: 130px;
    height: 55px;
    background-color: gray;
    top: 150px;
    position: relative;
    color: black;
    border-radius: 30px;
    font-size: 40px;
    outline: none;
    border: 2px solid black;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}

.links {
    justify-content: space-between;
    margin-left: 40%;
}

.link {
    background-color: aliceblue;
    text-align: center;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 60px;
    left: 50px;
}


