body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f5f1;
    display: flex;
    flex-direction: column;
}

.top-banner {
    background-color: #228B22;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.search-container, .results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.result-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px 0;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
}


input[type=text], button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 20px;
}

button {
    background-color: #228B22;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #1C7A1C;
}

footer {
    background-color: #e4e4e4;
    text-align: center;
    padding: 10px;
    color: #666;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.sidebar {
    width: 200px;
    padding: 20px;
    margin-right: 20px;
}

.side-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    padding: 0 20px;
}

.main-content {
    flex-grow: 1;
    margin-right: 20px;
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}