/* Your Styles Here */
/*
add picture link

*/
#main-container {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #9FBBCC;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
}

.profile-img {
    display: block;
    object-fit: cover;
    max-width: 100px;
    border: 4px solid #9FBBCC;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(106, 105, 105);
}

p {
    text-align: center;
    color: #000000;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #B3D2B2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 24px;
    color: blue;
}

button:hover {
    background-color: #BDE4A7;
}

/* Style the navigation bar */
.navbar {
    overflow: hidden; /* Clear floats */
    border: 1px solid blue; /* Border around the input */
    border-radius: 5px; /* Rounded corners for the input */
  }

/* Style the navigation bar links */
.navbar a {
    float: right; /* Align the links to the left */
    display: block; /* Change links from inline to block elements */
    color: blue; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

/* Style the searchbox */
#search_box {
    flex-grow: 1; /* Allow the input to grow to fill available space */
    margin-right: 10px; /* Margin between the input and the button */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #007bff; /* Border around the input */
    border-radius: 5px; /* Rounded corners for the input */
}

/* Style the enter button */
#enter_button {
    padding: 10px 20px; /* Padding inside the button */
    background-color: #007bff; /* Background color of the button */
    color: white; /* Text color of the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for the button */
}

/* flex_container */
.flex_container {
    display: flex;
    justify-content: space-between; /* Space between the search input and the button */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    max-width: 500px; /* Maximum width of the search bar */
    margin: auto; /* Center the search bar horizontally */
    padding: 10px; /* Padding around the search bar */
}

/* flex_box about */

.flex_box_about {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    margin: auto; 
    padding: 10px; 
}

h6 {
    color: purple;
    font-size: 16px;
}
/* about_content */
.about_content {
    background-color: #007bff; /* Background color of the button */
    border-radius: 5px; /* Rounded corners for the button */
    border: 20px;
    padding: 10px;
}